[user]
	name = Tormod Erevik Lea
	email = tormodlea@gmail.com
	editor = vim
	signingkey = /home/tormod/.ssh/id_ed25519.pub

[core]
	autocrlf = input
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
	pager = /usr/bin/less

[merge]
	tool = meld 

[diff]
	tool = meld

[color]
	ui = true

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = false

[http]
	cookiefile = /home/tormod/.gitcookies

[alias]
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync

[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/

[url "git@github.com:"]
	insteadOf = https://github.com/

[gpg]
	format = ssh

[commit]
	gpgsign = true
