*.sw?

bin/bin/

!vim/.vim/bundle/Vundle.vim
vim/.vim/.netrwhist
vim/.vim/bundle/
vim/.vim/eclim/
vim/.vim/fuf-data/*
vim/.vim/undo/
vim/.vim/tmp/
vim/.vim/backup/
vim/.vim/view/*
vim/.vim/viminfo
vim/.vim/viminfo.tmp
vim/.vim/yankring_v2.txt

.config
!.config/awesome
!.config/zathura
!.config/user-dirs.dirs
!.config/user-dirs.locale

kde/.kde4/
!kde/.kde4/share/apps/konsole/*
