! Cursor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 16

!Xft
Xft.antialias: true
Xft.autohint: true
Xft.dpi: 96 
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! COLORS

! Current
#include ".xcolors/dark"
